:root { /* rootte olmasının sebebi tüm sayfaya etki edebilecek olması*/ 
    --success-color: #4CAF50; /* burda css de tek bir renk tanımlayıp en başta o rengi her yerde kullanmak için özellikle alert kısımlarında error için bir renk success için bir renk birde alertlerin yazı rengini verdim*/
    --error-color: #f44336;
    --alert-text-color: #eceff1;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;

}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;

}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.recent-searches {
    display: none;
    margin-top: 20px;
     /* Yatayda taşma olması durumunda taşan kısımlarda otomatik olarak ayarlar */
    
}
.recent-list {
    display:flex;
     /* elemanlar sığmadığı zaman alt satıra geçmesini sağlar wrap olduğu zaman */
    gap: 1rem; /* kartlar arası boşluk */
    justify-content: flex-start; /* kartların baştan itibaren sıralanmasını sağlar */
    margin-top: 20px; /* üstten biraz boşluk */
     /* yatayda taşma olması durumunda yatay kaydırma çubuğu ekler*/
     overflow-x: auto;
}


.recent-list .card {
    margin-top: 10px;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px yellow;
    text-align: center;
    flex: 0 0 auto; /* kartların genişliğini korur. */
    width: 150px;
}

.recent-weather-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.city-details {
    text-align: center;
}

.alert {
    display: none;
    position:fixed; /* sayfa aşağı yukarı durumunda bile aynı yerde kalacağını gösterir. */
    top:0;
    right: 0;
    background-color: var(--error-color); /*yukarıda tanımladığım rengi burda kullanmak için değişken tanımlamıştım o değişkeni kullandım. */
    color:var(--alert-text-color);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    
}

.alert.success {
    background-color: var(--success-color);
    color: var(--alert-text-color);
}

.alert.error {
    background-color: var(--error-color);
    color: var(--alert-text-color);
}




  
